/* ==========================================================================
Footer
========================================================================== */
.social-bottom {
  font-size: 20px;
  ul li {
    margin: 0 10px 0 10px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.new {
  .new-link {
    text-decoration: none;
    color: black;
  }
}
